cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
dnspython==2.6.1
pdfminer.six==20231228
pdfplumber==0.11.0
pillow==10.3.0
pycparser==2.22
pymongo==4.6.3
pypdfium2==4.28.0
python-dotenv==1.0.1
setuptools==68.2.2
wheel==0.41.2
